<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="entry_form">
        <%= render 'shared/entry_form', entry: current_user.entries.build %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Recently Entry</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div class="row">
    <div class="col-md-8">
      <h3>Recently Entry</h3>
      <%= render 'shared/feed' %>
    </div>
    </div>
<% end %>